h2 {
	color: #0a2368;
}

h3 {
	color: #11337c;
}

#main-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #5B0888;
	color: white;
}

#main-menu a{
	text-decoration: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	color: white;
	height: auto;
	padding: 7px;
}

#main-menu a:hover{
	color: black;
	background-color: #9D76C1;
}

#datos {
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	align-content: space-around;
	align-items: center;
}

#datos h2 {
	color: white;
}

#fondo {
	color: white;
	background-image: url(../img/lentes.jpg), url(https://www.xtrafondos.com/wallpapers/programacion-computadora-y-lentes-10837.jpg);
	background-size: cover;
	height: auto;
	background-position-y: center;
}

#datos, #ubicacion, .servicio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#servicios {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

#mensaje-input {
	height: 150px;
}
